* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.question-container {
  margin: 20px 0;
  padding: 30px 15px;
  width: 40vw;
  /* border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: rgba(255, 255, 255, 0.1); /* bg-white/10 */
  backdrop-filter: blur(8px); /* backdrop-blur-md = 8px */
  border-radius: 0.5rem; /* rounded-lg = 0.5rem (8px) */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between radio buttons */
}

.option-label {
  /* font-size: 16px;
  display: flex;
  align-items: center; */
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-input {
  /* margin-right: 8px; */
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button-custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-input:checked + .option-label .radio-button-custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #4c8bf5;
  color: #4c8bf5;
}

.radio-input:checked + .option-label {
  color: #4c8bf5;
}

.option-label:hover .radio-button-custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 10px #4c8bf580;
}
